.bam-multiregions .bam-multiregions-link {
  border-bottom: 1px dashed; }
  .bam-multiregions .bam-multiregions-link:hover {
    border-bottom: 1px none transparent; }

.bam-multiregions-confirm {
  display: none;
  position: static;
  background-color: #f8e7b1;
  border: 0 none;
  padding: 10px;
  color: #000000; }
  .bam-multiregions-confirm .bam-multiregions-confirm-content {
    width: 100%;
    display: flex;
    align-items: center; }
    .bam-multiregions-confirm .bam-multiregions-confirm-content .bam-multiregions-confirm-button {
      display: inline-block;
      padding: 0 14px;
      background-color: #db7e13;
      color: #ffffff;
      text-align: center;
      margin-left: 10px;
      border-radius: 5px; }
      .bam-multiregions-confirm .bam-multiregions-confirm-content .bam-multiregions-confirm-button.bam-multiregions-confirm-button-no {
        background-color: transparent;
        border-radius: 0;
        color: #b05c00;
        text-decoration: underline;
        margin-left: 5px; }

.bam-multiregions-popup {
  display: none;
  position: absolute; }
  .bam-multiregions-popup .bam-multiregions-popup-window {
    background-color: #ffffff;
    margin: auto;
    padding: 20px;
    z-index: 1800;
    position: fixed;
    max-width: 90%;
    max-height: 90%;
    width: 800px;
    height: 400px;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0; }
    .bam-multiregions-popup .bam-multiregions-popup-window .bam-multiregions-popup-title {
      font-weight: bold;
      display: block;
      border-bottom: 1px dotted #cccccc;
      padding: 0 0 10px 0;
      margin: 0 0 10px 0;
      font-size: 16px;
      position: relative; }
      .bam-multiregions-popup .bam-multiregions-popup-window .bam-multiregions-popup-title h3 {
        padding: 0;
        margin: 0;
        font-size: 16px;
        font-weight: bold; }
      .bam-multiregions-popup .bam-multiregions-popup-window .bam-multiregions-popup-title .bam-multiregions-popup-close {
        background-image: url(images/close.svg);
        display: block;
        position: absolute;
        top: 0;
        right: 0;
        width: 16px;
        height: 16px;
        background-size: contain; }
    .bam-multiregions-popup .bam-multiregions-popup-window .bam-multiregions-popup-content .bam-multiregions-popup-content-search {
      width: 100%;
      padding: 10px; }
    .bam-multiregions-popup .bam-multiregions-popup-window .bam-multiregions-popup-content .bam-multiregions-popup-content-list {
      display: block;
      overflow: auto;
      max-height: 100%;
      margin-top: 10px;
      display: -ms-flexbox;
      display: flex;
      -ms-flex-wrap: wrap;
      flex-wrap: wrap;
      align-content: flex-start; }
      .bam-multiregions-popup .bam-multiregions-popup-window .bam-multiregions-popup-content .bam-multiregions-popup-content-list .bam-multiregions-popup-content-item {
        padding: 5px 0;
        -ms-flex: 0 0 33.333333%;
        flex: 0 0 33.333333%;
        max-width: 33.333333%; }
        @media (max-width: 991.98px) {
          .bam-multiregions-popup .bam-multiregions-popup-window .bam-multiregions-popup-content .bam-multiregions-popup-content-list .bam-multiregions-popup-content-item {
            -ms-flex: 0 0 50%;
            flex: 0 0 50%;
            max-width: 50%; } }
        @media (max-width: 575.98px) {
          .bam-multiregions-popup .bam-multiregions-popup-window .bam-multiregions-popup-content .bam-multiregions-popup-content-list .bam-multiregions-popup-content-item {
            -ms-flex: 0 0 100%;
            flex: 0 0 100%;
            max-width: 100%; } }
        .bam-multiregions-popup .bam-multiregions-popup-window .bam-multiregions-popup-content .bam-multiregions-popup-content-list .bam-multiregions-popup-content-item .bam-multiregions-popup-content-item-link span {
          display: block;
          font-size: 0.9em;
          color: #888888; }
        .bam-multiregions-popup .bam-multiregions-popup-window .bam-multiregions-popup-content .bam-multiregions-popup-content-list .bam-multiregions-popup-content-item .bam-multiregions-popup-content-item-link strong {
          color: #94002b; }
        .bam-multiregions-popup .bam-multiregions-popup-window .bam-multiregions-popup-content .bam-multiregions-popup-content-list .bam-multiregions-popup-content-item .bam-multiregions-popup-content-item-link.bam-multiregions-popup-content-item-link-current {
          font-weight: bold; }

.bam-multiregions-popupbg {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #777777;
  opacity: 0.7;
  z-index: 1000; }

/*# sourceMappingURL=style.css.map */
